venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd

model/best.pt

backend/accidents/
backend/accidents.json

backend/logs/
*.log

frontend/node_modules/
frontend/package-lock.json
frontend/accidents/
frontend/build/
frontend/dist/

.DS_Store
Thumbs.db

frontend/config.json